
.chatbox{
	
	height: 100%;
}

.entete_chatBox {

	padding-right: 5%;
	padding-left: 3%;
	height: 9%;
	justify-content: space-between;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	
}

.img_admin{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	

}

.div_profile_admin{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40%;
	padding: 2px;

	gap:5px;
}

.milieu_chatBox{
	padding-top: 10px;
	height: 83%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	font-size: 18px;
	
	
}


.MessageLine{
	width: 100%;
	border: solid black 10px;

}

.token_msg{
	background-color: yellow;
	padding:5px;
	border-radius: 10px;
}

.bottom_chatBox{

	

	box-shadow: -10px -2px 1px rgba(0, 0, 0, 0.2);
	
	display: flex;
	align-items: flex-end;
	height: 8%; 
	
	justify-content: space-around;
	padding-right: 3%;
	padding-left: 3%;

}


.div_icon_bottom{
	width: 55%;

	height: 90%;
	
	display: flex;
	justify-content: space-between;
}




input{
	border:none;
	outline: none;
  background-color: #F0F1F2;
  box-shadow: none;
  margin-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 18px;

	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	height: 70%;
	width: 40%;

	
}

.send{
	margin-bottom: 2%;

}

.micro{

	
}


.camera{
	margin-top: 9%;
}










/* Animation d’entrée depuis la gauche */
.left {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideFromLeft 1s forwards;
}

/* Animation d’entrée depuis la droite */
.right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideFromRight 1s forwards;
}

/* Keyframes pour gauche ➡️ droite */
@keyframes slideFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes pour droite ➡️ gauche */
@keyframes slideFromRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}