

.home{
	height: 100%;
}

.center{

	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.entete{

	
	height: 7%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

}

span{
	color:red;
}

.profile{
	color:red;
	border:1px blue solid;
	border-top-left-radius: 40%;
	border-bottom-right-radius: 40%;
	margin-top: 1%;
	width: fit-content;
	padding:5px;
	font-size: 18px;
}






.milieu{
	padding-top: 5%;
	padding-left: 5%;
	height: 86%;
}





.bottom{
	box-shadow: 1px -1px 1px rgba(0,0,0,0.2);
	
	height: 7%;
}